<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>course live</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet">
    <style>
    .videoContainer {
        width: 100%;
        /*height: 230px;*/
    }
	.video-js .vjs-big-play-button{
	    font-size: 2.5em;
	    line-height: 2.3em;
	    height: 2.5em;
	    width: 2.5em;
	    -webkit-border-radius: 2.5em;
	    -moz-border-radius: 2.5em;
	    border-radius: 2.5em;
	    background-color: #73859f;
	    background-color: rgba(115,133,159,.5);
	    border-width: 0.15em;
	    margin-top: -1.25em;
	    margin-left: -1.75em;
	}
	/* 中间的播放箭头 */
	.vjs-big-play-button .vjs-icon-placeholder {
	    font-size: 1.63em;
	}
	/* 加载圆圈 */
	.vjs-loading-spinner {
	    font-size: 2.5em;
	    width: 2em;
	    height: 2em;
	    border-radius: 1em;
	    margin-top: -1em;
	    margin-left: -1.5em;
	}
    .panel {
        display: none;
    }
    .show {
        display: block;
    }
    .hide {
    	display: none;
    }
    .weui-media-box .active {
		color:orange;
    }
    .weui-article h3{
		font-size: 16px;
		line-height: 1.1rem;
		color: #333;
    }
    .weui-article span{
		font-size: 13px;
		line-height: 1.1rem;
		color: #666;
    }
    .weui-article p{
		font-size: 13px;
		color: #666;
		margin: 1.1em .8em !important;
		line-height: .9rem;
		display: table;
		height: 1px;
    }
    </style>
</head>

<body>
	<div id="app" class="page">
		<div class="videoContainer" v-if="video_src">
		  <!--   <video id="my-video" class="video-js  vjs-default-skin vjs-big-play-centered" preload="" width="100%" controls :poster="poster" data-setup="{}">
		      <source id="videoSource" :src="video_src" type='video/mp4'>
		      <p class="vjs-no-js">
		          To view this video please enable JavaScript, and consider upgrading to a web browser that
		          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		      </p>
		  </video>  -->
		    <video id="my-video" width="100%" :src="video_src" controls="controls" autoplay>
		    your browser does not support the video tag
		    </video>
		</div>
		<div class="container" id="container">
		    <div class="navbar js-show">
		        <div class="page__bd" style="height: 100%;">
		            <div class="weui-tab">
		                <div class="weui-navbar">
		                    <div class="weui-navbar__item weui-bar__item_on">
		                        介绍
		                    </div>
		                    <div class="weui-navbar__item">
		                        章节
		                    </div>
		                    <div class="weui-navbar__item">
		                        评价
		                    </div>
		                </div>
		                <div class="weui-tab__panel">
		                    <div class="panel show">
		                        <div class="page__bd">
		                            <article class="weui-article">
		                                <section>
		                                    <h3>{{info.course_name}}</h3>
		                                    <p><span>播放次数：66</span></p>
		                                    <p>课程介绍：{{info.course_introduce}}
		                                    </p>
		                                </section>
		                            </article>
		                        </div>
		                    </div>
		                    <div class="panel">
		                        <div class="weui-panel__bd">
		                            <div v-for="(item, index) in lesson_lists" class="weui-media-box weui-media-box_text" @click="changeVideo(index)">
		                                <p class="weui-media-box__desc" :class="lesson_active== index? 'active': ''">{{index+1}}. {{item.lesson_name}} ({{item.video_time}})</p>
		                            </div>
		                            <div class="weui-media-box weui-media-box_text">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="panel">评论系统暂时关闭~</div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="js_dialog" id="iosDialog1" :class="showDialog? 'show': 'hide'" style="opacity: 1;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <!-- <div class="weui-dialog__hd"><strong class="weui-dialog__title">弹窗标题</strong></div> -->
                <div class="weui-dialog__bd">
                	<div class="weui-loadmore">
        	            <i class="weui-loading"></i>
        	            <span class="weui-loadmore__tips">正在加载</span>
        	        </div>
                </div>
                <!-- <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">辅助操作</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">主操作</a>
                </div> -->
            </div>
        </div>
	</div>
    
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="http://wechatfe.github.io/vconsole/lib/vconsole.min.js?v=3.0.0.0"></script>
</body>
<script>
	var app = new Vue({
		el: "#app",
		data: {
			info: {},
			lesson_lists: [],
			lesson_active: 0,
			options: {
		        techOrder: ['html5'],
		        autoplay: false
		    },
		    id: 3,
		    video_src: '',
		    poster: '',
		    firstUrl: '',
		    player: null,
		    showDialog: true
		},
		mounted: function(){
			var vConsole = new VConsole()
			this.id = this.getHeader('id', '&');
			console.log(this.id);
			this.loadData()
			this.$nextTick(function () {
				console.log(this.video_src)
				this.loadPlayer()	
			})
			
		},
		updated: function() {
			this.$nextTick(function(){
	            //dom ready
	            
	        });
		},
		methods: {
			loadPlayer: function() {
				var that = this
				this.player = videojs('my-video', this.options, function onPlayerReady() {
			        document.querySelector('#my-video').style.width = "100%"
			        document.querySelector('#my-video').style.height = "100%"
		        	var video = $('#my-video video')[0]
		        	var source = document.getElementById('videoSource')
		        	var btnPlay = $('.vjs-big-play-button')
		        	console.log(btnPlay);
		        	btnPlay.on('click', function() {
		        		alert(1)
		        		document.title = that.info.course_name + '-' + that.lesson_lists[0].lesson_name
		        		console.log(that.video_src)
			        	video.pause()
			            source.setAttribute('src', that.lesson_lists[0].video_url)
			            video.load()
			            video.play()
		        	})
		        	
			    });
			},
			loadData: function() {
				var that = this
				that.$http.get('http://140.143.163.52:8888/course/getLessonList/'+that.id).then(res => {
					console.log(res.body)
					that.showDialog = false
					that.poster = res.body.info.img
					that.info = res.body.info
					that.lesson_lists = res.body.lesson_lists
					that.video_src = res.body.lesson_lists[0].video_url
					that.firstUrl = res.body.lesson_lists[0].video_url
					// that.video_src = res.body.lesson_lists[0].video_url
					console.log(that.video_src)
					
					document.title = that.info.course_name
				}, res => {
					console.log(res)
				})
			},
			changeVideo: function(i) {
				this.lesson_active = i
				var video = $('#my-video')[0]	
				// var source = document.getElementById('videoSource')
				console.log(video);
				// video.pause()
				this.video_src = this.lesson_lists[i].video_url
			    // source.setAttribute('src', this.lesson_lists[i].video_url)
			    document.title = this.info.course_name + '-' + this.lesson_lists[i].lesson_name
			    video.load()
			    // video.play()
			},
			getHeader : function(key,split){
				
				var urlStr = location.href;
				var urlArr = urlStr.split('?');
				var needDo = urlArr[1];
				var getArr = needDo.split(split);
				var Arr = new Array();
				for(var i=0;i<getArr.length;i++){
					Arr[$.trim(getArr[i].split('=')[0])] = $.trim(getArr[i].split('=')[1]);
				}
				return Arr[key];
			}
		}
	})
$(document).ready(function() {
    $('.weui-navbar__item').on('click', function() {
        $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on')
        $('.weui-tab__panel .panel').hide();
        $('.weui-tab__panel .panel').eq($(this).index()).show()
    });
});
</script>

</html>